body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #cef433;
}

h1 {
  font-size: 100px;
  color: #c6b5f8;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

h1::before {
  content: "#ILoveCode";
  position: absolute;
  top: 0%;
  left: 0%;
  color:#2ab81d;
  width: 0%;
  overflow: hidden;
  transition: all 0.6s;
}

h1:hover::before {
  width: 100%;
}